
{% block header %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% block stylesheets %}
<!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/form-elements.css" type="text/css">
        <link rel="stylesheet" href="css/style.css" type="text/css"> 
{% endblock %}

{% endblock %}
<body>
<div class="row">
    {% if errorMsg|length > 0 %}
            <div class="alert alert-danger" style="margin-left: 10px; margin-right: 10px;">  <a href="#" class="close" data-dismiss="alert">×</a><h4>Error: {{ errorMsg }} </h4> </div>
                    
        {% endif %}

    {% block content %}
<div class="top-content" style="text-align:center">
    <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Primo Piano</strong></h1>
                            <div class="description">
                                <p>
                                    Ingresa para anotarte a las clases que quieras <strong>Y no te quedes afuera de ninguna</strong>. Te esperamos!
                                </p>
                            </div>
                        </div>
                    </div>

         <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login</h3>
                                    <p>Ingresa usuario y contrase&ntilde;a:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action='login.php' method="post" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        <input type="text" name="usuario" placeholder="Usuario..." class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="password" placeholder="Contraseña..." class="form-password form-control" id="form-password">
                                    </div>
                                    <button type="submit" id="Button1" class="btn">Ingresa!</button>
                                </form>
                            </div>
                            <a href="registrarse.php"> Crear Cuenta </a>
                        </div>
                    </div>
 
                </div>
            </div>
            
        </div>
            {% endblock %}

</div>
{% block javascripts %}
<script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/jquery.validate.min.js"></script>
{% endblock %}
</body>
{% block javascript %}
<script type="text/javascript">
    $().ready(function() {


        $("#index").validate({
            rules: {
                usuario: "required",               
                password: "required"
            },
            messages: {
                usuario: "<div class='alert alert-danger' style='height: 34px; opacity: 0.9; width: 284px; padding: 7px;'> Debe ingresar un Usuario.</h4> </div>",                
                password: "<div class='alert alert-danger' style='height: 34px; opacity: 0.9; width: 284px; padding: 7px;'> Debe ingresar una contraseña.</h4> </div>"

            }
        });

    });

</script>
{% endblock %}