{% extends "login.twig" %}
{% block content %}
<div class='errorMsg'>Error: {{ errorMsg }}</div>
<div class="loginContent">
    <a href="/index.php">Haga clic aquí para ir continuar.</a>
</div>
{% endblock %}