{% extends "base.twig" %}

{% block body %}
	<div class="container" style="height:50%" >
  		<div class="jumbotron" style="background: rgba(144, 125, 125, 0.58);">

      <p style="text-align:center"> <i class="fa fa-calendar-o" aria-hidden="true"></i> Esta semana te inscribiste</p>
      <div id="circle" style="text-align:center"> 
    <strong style="position: absolute;margin-top: 4%;left: 0;width: 100%;text-align: center;line-height: 40px;font-size: 30px;"> {{ porcentaje }} %</strong>
  </div>

      <p> <i class="fa fa-clock-o" aria-hidden="true"></i><strong> 8:00 - 10:00 hs | 18:00 - 22:00 hs</strong></p>
      <p> <i class="fa fa-home" aria-hidden="true"></i><strong> 40 esquina 14, La Plata.</strong></p>
      <p> <i class="fa fa-phone" aria-hidden="true"></i><strong> 2214196598 | 2214557041</strong></p>
      <p><strong>Alumnos recuerden seleccionar las clases que desean asistir, para una mejor organizaci&oacute;n!</strong></p>  
  	</div>

	</div>

	<script src="/primopiano/js/circle-progress.js"></script>
  

	
	
	<script>	
    var valor= {{ cantidad }}/{{ cantSemanal }};
  	$('#circle').circleProgress({
    	value: valor,
    	size: 150,
    	fill: {
      	gradient: ["lightblue","blue"]
    	}
  	});
  	
	</script>

{% block Ayuda %}{% endblock %}
{% endblock %}
